@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotate { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

@keyframes imageSwitch { 0%, 33% { opacity: 1; } 34%, 100% { opacity: 0; } }
